/* universal styles */
* {
    font-family: 'Inter', sans-serif;
}

/* navbar section styles */

.navbar {
    height: 92px;
    width: 1600px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    box-sizing: border-box;
    position: relative;
}

.navbar .menu {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.navbar .nav-btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* border section test */

.banner {
    height: 674px;
    width: 1600px;
    background-image: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
}

.banner-container {
    min-height: 379px;
    width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.island {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 24px;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.island-txt {
    color: #4a7c59; 
    font-weight: 500;
    font-size: 18px;
    margin-left: 12px;
}

.circle-box {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: #4a7c59;
}

.circle3 {
    width: 24px;
    height: 24px;
    opacity: 0.2;
}

.circle2 {
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

.circle1 {
    width: 8px;
    height: 8px;
    opacity: 1;
}

.white-text {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
}

.green-text {
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
}

.banner-text p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.banner-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.banner-btn button:first-child {
    background-color: #469165;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
}

.banner-btn button:last-child {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
}

.banner-btn button i,
.banner-btn button img {
    display: block;
}

