/* universal styles */
* {
    font-family: 'Inter', sans-serif;
}

/* navbar section styles */

.navbar {
    height: 92px;
    width: 1600px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    box-sizing: border-box;
    position: relative;
}

.navbar .menu {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.navbar .nav-btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* border section test */

.banner {
    height: 674px;
    width: 1600px;
    background-image: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
}

.banner-container {
    min-height: 379px;
    width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.island {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 24px;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.island-txt {
    color: #4a7c59; 
    font-weight: 500;
    font-size: 18px;
    margin-left: 12px;
}

.circle-box {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: #4a7c59;
}

.circle3 {
    width: 24px;
    height: 24px;
    opacity: 0.2;
}

.circle2 {
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

.circle1 {
    width: 8px;
    height: 8px;
    opacity: 1;
}

.white-text {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
}

.green-text {
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
}

.banner-text p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.banner-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.banner-btn button:first-child {
    background-color: #469165;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
}

.banner-btn button:last-child {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
}

.banner-btn button i,
.banner-btn button img {
    display: block;
}

/* notes section style */

.notes {
    width: 1600px;
    height: 460px;
    justify-content: center;
    
}

.notes-heading {
    text-align: center;
    max-width: 1360px;
    height: 152px;
    margin-left: 120px;
}

.notes-heading h2 {
    margin-top: 50px;
    font-size: 48px;
    font-weight: 700;
}

.notes-heading p {
    font-size: 16px;
    color: #627382;
}

 .notes-card-box {
    height: 300px;
    width: 1360px;
    display: flex;
    gap: 44px;
    margin-top: 44px;
    margin-left: 100px;
}

.notes-card {
    width: 322px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    border: none;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.notes-card .content h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.notes-card .content p {
    max-width: 280px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}

.notes-card .content .para {
    margin-left: 20px;
    max-width: 260px;
}

.notes-card:hover {
    transform: translateY(-10px);
}

.notes-card-box .notes-card .logo {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-card-box .notes-card .logo img {
    height: 32px;
    width: 32px;
}

/* Brain section styles */

.brain {
    width: 1600px;
    height: 600px;
}

.brain .brain-container {
    width: 1360px;
    margin-top: 120px;
    padding: 0 96px 120px 96px;
    display: flex;
    justify-content: left;
}

.brain .brain-image{
    margin: 0;
    padding: 0;
}

.brain .brain-content {
    margin-left: 60px;
    margin-top: 72px;
}

.brain-content span {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.brain-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.brain-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.brain-content .list .b-list {
    display: flex;
    align-items: center;
}

.brain-content .list .b-list img {
    height: 16.25px;
    width: 16.25px;
    margin-top: 1.88px;
    margin-left: 1.88px;
}

.brain-content .list .b-list p {
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-left: 6px;
}

