/* universal styles */
* {
    font-family: 'Inter', sans-serif;
}

/* navbar section styles */

.navbar {
    height: 92px;
    width: 1600px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    box-sizing: border-box;
    position: relative;
}

.navbar .menu {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.navbar .nav-btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

